fastapi
uvicorn
streamlit
python-dotenv
langchain
langgraph
langchain-google-genai
langchain-openai
langchain-mistralai
pydantic
psycopg[binary]
pg8000
pgvector
sqlalchemy
tavily-python
chromadb 
sentence-transformers