fastapi
uvicorn
streamlit
python-dotenv
langchain
langgraph
langchain-google-genai
langchain-openai
langchain-mistralai
pydantic
psycopg[binary]
pg8000
pgvector
sqlalchemy
mcp[cli]
requests
beautifulsoup4
psycopg2-binary
